.body {
	border: 1px solid black;
	background-color: rgb(211, 240, 224);
	width: 800px;
	height: 400px;
}

.h1 {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size:larger;
	color: darkred;
}

.resultado {
	font-style: italic;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  